{% extends 'base.html.twig' %}

{% block title %}TR | Gestion des Tickets{% endblock %}

{% block body %}
    {{ include('home/partials/header.html.twig') }}

    <div class="container">
    </div>


    {{ include('home/partials/footer.html.twig') }}
{% endblock %}