{% extends 'base.html.twig' %}

{% block body %}  
{{ include('home/partials/header.html.twig') }}
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Tickets Attribués</h1>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Description</th>
                            <th scope="col">Client</th>
                            <th scope="col">Date de Création</th>
                            <th scope="col">Statut</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {# {% for ticket in assigned_tickets %} #}
                            <tr>
                                <th scope="row">ticket.id </th>
                                <td> ticket.title </td>
                                <td> ticket.description </td>
                                <td> ticket.client_name </td>
                                <td> ticket.creation_date|date('d/m/Y')}</td>
                                <td> ticket.status </td>
                                <td>
                                    <a href="#" class="btn btn-info btn-sm">Voir</a>
                                    <a href="#" class="btn btn-warning btn-sm">Modifier</a>
                                    <a href="#" class="btn btn-success btn-sm">Clôturer</a>
                                </td>
                            </tr>
                        {# {% else %} #}
                            <tr>
                                <td colspan="7" class="text-center">Aucun ticket attribué</td>
                            </tr>
                        {# {% endfor %} #}
                    </tbody>
                </table>
            </div>
        </div>
         <div class="card mt-4">
            <div class="card-header">
                <h2>Historique des Tickets Clôturés</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date de Clôture</th>
                        </tr>
                    </thead>
                    <tbody>
                        {# {% for ticket in closed_tickets %} #}
                            <tr>
                                <th scope="row"> ticket.id </th>
                         
                                <td> ticket.description </td>
                                <td> ticket.closed_date|date('d/m/Y')</td>
                            </tr>
                        {# {% else %} #}
                            <tr>
                                <td colspan="4" class="text-center">Aucun ticket clôturé</td>
                            </tr>
                        {# {% endfor %} #}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
{{ include('home/partials/footer.html.twig')}}
{% endblock %}